/ Home non-logged-in
.center.jumbotron
  %h1
    Masa's Sample App 1

  %h1.small
    This is the home page for the Sample App 1
    %br
    based on the
    %a{ href: "http://www.railstutorial.org/" }
      Ruby on Rails Tutorial sample application

  = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success"

%a{ href: 'http://rubyonrails.org/' }
  =image_tag "rails.png", alt: "Rails logo"

%a{ href: 'https://github.com/mnishiguchi' }
  =image_tag "114x114_masa_chinatown.png", alt: "Masa"
