/ Home non-logged-in
.center.jumbotron
  %h1
    Welcome to Masatoshi's App

  %h1.small
    This is my first website and a sandbox where I experiment new techniques.
    %br
    I made this based on what I learned in
    %a{ href: "https://github.com/mhartl/", target: '_blank' }
      Michael Hartl
    's
    %a{ href: "http://www.railstutorial.org/", target: '_blank' }
      Ruby on Rails Tutorial.

  = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success"

%a{ href: 'http://rubyonrails.org/', target: '_blank' }
  =image_tag "rails.png", alt: "Rails logo"

%a{ href: 'https://github.com/mnishiguchi', target: '_blank' }
  =image_tag "114x114_masa_chinatown.png", alt: "Masa"
