/ Header Carousel
%header{ id: 'myCarousel', class: ['carousel', 'slide'], data: { ride: 'carousel' } }

  / Indicators
  %ol.carousel-indicators
    %li{ data: { target: '#myCarousel', 'slide-to' => '0' }, class: ['active'] }
    %li{ data: { target: '#myCarousel', 'slide-to' => '1' } }
    %li{ data: { target: '#myCarousel', 'slide-to' => '2' } }

  / Wrapper for slides
  .carousel-inner

    .item.active
      =image_tag 'http://placehold.it/1900x1080&text=Slide One', alt: ""
      .carousel-caption
        %h3 Caption Heading 1
        %p Caption Text 1

    .item
      =image_tag 'http://placehold.it/1900x1080&text=Slide Two', alt: ""
      .carousel-caption
        %h3 Caption Heading 2
        %p Caption Text 2

    .item
      =image_tag 'http://placehold.it/1900x1080&text=Slide Three', alt: ""
      .carousel-caption
        %h3 Caption Heading 3
        %p Caption Text 3

  / Navigation
  %a{ class: ['left', 'carousel-control'], href: "#myCarousel", data: { slide: 'prev' } }
    %span.glyphicon.glyphicon-chevron-left
  %a{ class: ['right', 'carousel-control'], href: "#myCarousel", data: { slide: 'next' } }
    %span.glyphicon.glyphicon-chevron-right
