/ Tabs
%ul{ class: ['nav', 'nav-tabs'], role: 'tablist' }
  %li.active
    %a{ href: "#tabs-1", role: "tab", data: { toggle: "tab" } }
      First
  %li
    %a{ href: "#tabs-2", role: "tab", data: { toggle: "tab" } }
      Second

/ Tab Content
-# .fade : enables animation.
-# .in   : ensures it's shown when the page is loaded.
.tab-content
  .active.tab-pane.fade.in#tabs-1
    .panel-body
      %strong First.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ad
      eum possimus voluptates minus obcaecati, similique natus officia libero,
      explicabo sapiente veritatis dignissimos cumque? In atque, voluptate
      molestias nulla alias!

  .tab-pane.fade#tabs-2
    .panel-body
      %strong Second.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ad
      eum possimus voluptates minus obcaecati, similique natus officia libero,
      explicabo sapiente veritatis dignissimos cumque? In atque, voluptate
      molestias nulla alias!
