:markdown
  #About

  The [*Ruby on Rails Tutorial*](http://www.railstutorial.org/) is a
  [book](http://www.railstutorial.org/book) and
  [screencast series](http://screencast.railstutorial.org/)
  to teach web development with [Ruby on Rails](http://rubyonrails.org/).
  This app is based on the sample app of this tutorial.