- provide(:title, "")

:markdown
  #Sample App 1
  
  This is the home page for the Sample App 1, which is based on the 
  [Ruby on Rails Tutorial](href:"http://www.railstutorial.org/")
  sample application.