- provide(:title, "Lab")

%ol.breadcrumb
  %li= link_to "Home", root_path
  %li.active Lab

.row
  .col-md-6
    = render 'sample_scrollspy'
  .col-md-6
    = render 'sample_tabs'
  .col-md-6
    = render 'sample_accordion'
