-# The '#follow_form' element will be updated by Ajax upon following/unfollowing.

- unless current_user?(@user)
  #follow_form
    - if current_user.following?(@user)
      = render 'unfollow'
    - else
      = render 'follow'
