-# User has many active relationships. (A user is following somebody.)
-# (class_name: "Relationship", foreign_key: "follower_id", dependent: :destroy)
-# follower: current user

- rel = current_user.active_relationships.find_by(followed_id: @user.id)

= form_for(rel, html: { method: :delete }, remote: true) do |f|

  = f.button "Unfollow", class: "submit btn",
    data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..." }
