%li
  = gravatar_for user, size: 50
  = link_to user.name, user

  -# The "delete" links will be displayed only if the current user is an admin.
  - if current_user.admin? && !current_user?(user)
    = "|"
    = link_to "delete", user, method: :delete, data: { confirm: "Are you sure?" }
