= form_for @user_search, url: users_path(format: :json),
  remote: true, html: {method: :get} do |f|

  .user_search.input-group
    = f.search_field :q, class: "form-control", placeholder: "Search in this page"
    %span.input-group-btn
      = f.button '検索', class: "btn btn-success",
        data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> 検索中..." }
