- provide(:title, "Edit user")

%h1
  Update your profile
.row
  .col-md-6.col-md-offset-3
    = form_for(@user) do |f|

      = render 'users/fields', f: f

      = f.button "Save changes", class: "submit btn btn-success",
        data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..." }
    .gravatar_edit
      = gravatar_for @user  # Defined in UsersHelper
      %a{ href: "http://gravatar.com/emails", target: '_blank' }
        change
