= provide(:title, "All users")

/ All users
%h1
  All users

%ul.all_users
  .user_search.input-group
    %input.form-control{ placeholder: "Search for...", type: "text"}/
    %span.input-group-btn
      %button.btn.btn-default{ type: "button" } Go!

  = will_paginate @users
  %div
    = render @users
  = will_paginate @users
