%h4.panel.bootstrap_screen_size
  Bootstrap Screen Size
  %span.label.label-default.visible-lg Large
  %span.label.label-default.visible-md Medium
  %span.label.label-default.visible-sm Small
  %span.label.label-default.visible-xs Extra Small
  %span.label.label-default.visible-print Print
